.btn:active {
    background-color: lightblue;
  }

.headline {
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:cornflowerblue;
}

.text {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    margin: 25; /* Reset default body margin */
}

.container {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #CCCCCC; /* Desired color for the margins */
}
.container h1 {
    margin-left: 20px;
}
.container h2 {
    margin-left: 18px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:cornflowerblue;
}

.container p {
    margin-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.container label {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.container button {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}